body,
header,
footer,
main,
li,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
head,
html,
#app,
.title-input>input {
    width: 100%;
    height: 100%;
}

.el-popper.is-pure.is-light ul {
    border-radius: 0 0 6px 6px;
    border: none;
}

.moon {
    background-color: #181a20 !important;
    color: var(--el-color-white) !important;
}

input {
    outline: none;
    border: 0px;
    background: none;
    margin-left: 10px;
    color: aliceblue;
}

.el-link__inner,
.el-button>span,
.loginIcon {
    width: 100%;
    height: 100%;
    justify-content: center;
}

:root {
    --el-color-warning: #f0b90b !important;
}

.app-layout,
.title-input,
.title-icon,
.content-card,
.title-loginfo,
.title-loginfo-qc,
.login-btn,
.footer-item,
.loginIcon {
    display: flex;
    align-items: center;
}


.lcon-border,
.title-input,
.content-card {
    border: 1px solid #2a3038;
    border-radius: 6px;
}

.disNone {
    display: none!important;
}