body,
header,
footer,
main,
li,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.el-popper.is-pure.is-light ul {
    border-radius: 0 0 6px 6px;
    border: none;
}

.moon {
    background-color: #181a20 !important;
    color: var(--el-color-white) !important;
}